header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}
#mainWrapper{
    min-height:75vh;

}

#hamburger{display:none;}

#navWrapper.hide{
    display:block;
    background-color: $primaryColor;
    padding: 15px 0;
    ul {
        display: flex;
        list-style-type: none;
        margin:0;
        padding: 0px;
        flex-wrap: wrap;
        gap:$gutter;
        justify-content: center;
        li {
        text-align: center;
        border: 1px solid black;
        text-shadow:2px 2px black;
        border-radius: 6px;
        box-shadow: 1px 1px 1px black;
        }
        li.active {
        background-color: $secondaryColor;
        &:hover {
            background-color: $primaryColor;
            transform: translateY(2px);
        }
        }
        li.nonactive{
        background-color: $primaryColor;
        &:hover {
            background-color: $secondaryColor;
            transform: translateY(2px);
        }

        }
        a {
        width:226px;
        display: block;
        padding: 15px 0;
        color: white;
        text-decoration: none;
    }
  }
}

#fishSpecies{
  grid-template-columns: 1fr 1fr 1fr;
}