header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}
#mainWrapper{
    min-height:75vh;

}

#hamburger{display:none;}

#navWrapper{
    display:block;
    background-color: $primaryColor;
    padding: 15px 0;
    ul {
        display: flex;
        list-style-type: none;
        margin:0;
        padding: 0px;
        flex-wrap: wrap;
        gap:$gutter;
        justify-content: center;
        li {
        text-align: center;
        border: 1px solid black;
        text-shadow:2px 2px black;
        border-radius: 6px;
        box-shadow: 1px 1px 1px black;
        }
        li.active {
        background-color: $secondaryColor;
        &:hover {
            background-color: $primaryColor;
            transform: translateY(2px);
        }
        }
        li.nonactive{
        background-color: $primaryColor;
        &:hover {
            background-color: $secondaryColor;
            transform: translateY(2px);
        }

        }
        a {
        width:226px;
        display: block;
        padding: 15px 0;
        color: white;
        text-decoration: none;
    }
  }
}

#fishSpecies{
  grid-template-columns: 1fr 1fr 1fr;
}
// Fish tank page
.allcards{
    section{
        flex-basis:calc(33.3333% - (($gutter*2)/3));
    }
}
//footer
footer div{
    grid-template-columns: 1fr 1fr 1fr;
}

// checklist page
#titleHero{
    h1{
        font-size:2rem;
    }
}

#checkList{
    flex-wrap:nowrap;
    padding:32px 0;
}
#reviewsWrapper{
    padding:32px 0;
}
#reviews{
    section{
        flex-basis:calc(50% - ($gutter/2));
    }
}
// Create the for loop for about us page
@for $i from 1 through 12 {
  $w: calc($i /12) *100%;
  .large-#{$i} {flex-basis: $w}
}