header {
    padding: 2rem $gutter;
    h2{
        font-size:2rem;
    }
    img#logo{
        width:80px;
        height:80px;
    }
}

#navWrapper.show ul{
    gap:$gutter;
}
img#hamburger{
    width: 40px;
    height: 40px;
}
#mainWrapper{
    min-height:82vh;
}
#fishSpecies{
  grid-template-columns: 1fr 1fr;
}
//footer styling
footer div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:$gutter;
}
// Fish tank page
.allcards{
    display: flex;
    flex-wrap: wrap;
    gap:$gutter;
    justify-content: center;
    section{
        flex-basis:calc(50% - ($gutter/2));
    }
}