html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
}

#headerWrapper {
  background-color: $secondaryColor;
  color: white;
}

header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  justify-content: space-between;
  h2 {
    margin: auto 0;
    font-size: 1.2rem;
    text-shadow:2px 2px black;
    text-align: center;
    a{
      color:white;
      text-decoration: none;
      &:hover{
        transform: translateY(2px);
        color:antiquewhite;
      }
    }
  }
  #hamburger{
    margin:auto 0;
  }
}
#navWrapper.hide {display:none;}

#navWrapper.show {
  background-color: $primaryColor;
  ul {
    display: flex;
    list-style-type: none;
    margin:0;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 0;
    li {
      text-align: center;
      border: 1px solid black;
      text-shadow:2px 2px black;
      border-radius: 6px;
      box-shadow: 1px 1px 1px black;
    }
    li.active {
      background-color: $secondaryColor;
      &:hover {
        background-color: $primaryColor;
        transform: translateY(2px);
      }
    }
    li.nonactive{
      background-color: $primaryColor;
      &:hover {
        background-color: $secondaryColor;
        transform: translateY(2px);
      }

    }
    a {
      width:226px;
      display: block;
      padding: 15px 0;
      color: white;
      text-decoration: none;
      
    }
  }
}
  
// Main styling
#mainWrapper{
  min-height:83vh;
  background-color: antiquewhite;

  h1{
    margin:0;
    padding:32px 0px;
  }
}

// Fish Species Styling

#fishSpecies{
  display:grid;
  grid-template-columns: 1fr;
  gap:$gutter;
  padding-bottom:32px;
}

#fishSpecies div{
  width:100%;
  padding:1rem;
  margin:0;
  padding:0;
  border: 1px solid $primaryColor;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color:$primaryColor;
  color:white;
  img{
    width:100%;
    height:auto;
  }
  h2{
    text-align: center;
    font-style:italic;
    font-size:1.30rem;
    text-shadow:2px 2px black;
  }
  p{
    padding-left: 15px;
    font-size:1.1rem;
    font-weight:bold;
    text-shadow:1px 1px black;
  }
}


// Footer stying

#footerWrapper{
  background-color: $secondaryColor;
  padding: .5rem $gutter;
  p{
    color:white;
    margin:0px;
    font-weight:$lightWeight;
    text-align:center;
    a{
      color:white;
      text-decoration: none;
      &:hover{
        transform: translateY(2px);
        color:antiquewhite;
      }
    }
  }
}